{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
        <h1>Login</h1>
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit'>Login</button>
        </form>
{% endblock %}
